<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>fabioCaetanoDev</title>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="menu-section">
                    <div class="menu-toggle"></div>
                    <nav>
                        <ul>
                            <li>
                                <a href="#">Artigos</a>
                            </li>
                            <li>
                                <a href="#">Portfólio</a>
                            </li>
                            <li>
                                <a href="#">Aplicativos</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>        
        <section class="cards">
            <div class="card">
                <div class="image"></div>
                <div class="content">
                    <p class="title text --medium"><%= mensagem1 %></p>
                    <div class="info">Hello World com Nodejs!</div>
                </div>
            </div>
        </section>        
        <script src="script.js"></script>
        <script type="text/javascript"></script>
    </body>
</html>