@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}